body {
    background-color: #FF0000;
}
.button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 10px; /* Add padding around the text */
    background-color: #FFFF00;
    color: white;
    text-align: center;
    line-height: 30px; /* Adjust line-height to vertically center text */
    font-size: 20px;
    text-decoration: none;
}